<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title> Feedback </title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'CSS/reach.css') }}">
</head>
<body>

<div class="image">
    <img src="C:\Users\kshitij\Documents\GitHub\RuntimeTerrorQR\static\logo.png" width="100%" height="400">
</div>

<div class="row">
    <div class="column">
      <div class="card">
        <img src="C:\Users\kshitij\Documents\GitHub\RuntimeTerrorQR\static\kshitij.jpeg" alt="Dhar" style="width:100%">
        <div class="container">
          <h2>Kshitij Dhar</h2>
          <p>Ah shit,here we go again.</p>
          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div>
  
    <div class="column">
      <div class="card">
        <img src="C:\Users\kshitij\Documents\GitHub\RuntimeTerrorQR\static\aditya.jpeg" alt="Adi" style="width:100%">
        <div class="container">
          <h2>Aditya R Singh</h2>
          <p>Mandir wahin banega.</p>
          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div>
  
    <div class="column">
      <div class="card">
        <img src="C:\Users\kshitij\Documents\GitHub\RuntimeTerrorQR\static\abhishek.jpeg" alt="Abhi" style="width:100%">
        <div class="container">
          <h2>Abhishek Bhalotia</h2>
          <p>Main kothe se aai mere ko maalum hai tere ko kya chahiye </p>
          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div>

  <div class="column">
    <div class="card">
      <img src="C:\Users\kshitij\Documents\GitHub\RuntimeTerrorQR\static\pratyush.jpg" alt="Prat" style="width:100%">
      <div class="container">
        <h2>M. Pratyush</h2>
        <p>Main chutiya hun</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>
  </div>

  </body>
  </html>